---
layout: envy.hbs
---
<!-- masthead -->
<div class="jumbotron">
  <h2 class="jumbotron--title animated slideDown wait1">john d. storey</h2>
  <p class="jumbotron--sub-title animated slideUp wait2">A CREATIVE DEVELOPER</p>
  <p class="jumbotron--sub-title"><span class="icon-emo-grin animated slideUp tossing wait2"></span></p>
</div><!-- /masthead -->
<!-- portfolio list -->
<div id='work'>
  <div class="container">
    <h2> my work </h2>
    <div class="row">
      <ul class="list-unstyled  portfolio--list  cs-style-3">
        <!-- work item 4 -->
        <li class="col-sm-6  col-md-4  col-lg-4">
          <figure class="box  box--sm  text-center">
            <a href="/twiz" >
              <img src="img/portfolio-4.jpg" class="img-responsive" alt="portfolio image 4" />
              <figcaption>
                <p>Twiz iPhone app</p>
                <a href="/twiz" class="green  pull-right">View</a>
              </figcaption>
            </a>
          </figure>
        </li><!-- /work item 4 -->
        <!-- work item 1 -->
        <li class="col-sm-6  col-md-4  col-lg-4">
          <figure class="box  box--sm  text-center">
            <a href="/openapparatus" >
              <img src="img/portfolio-1.jpg" class="img-responsive" alt="portfolio image 1" />
              <figcaption>
                <p>Open Apparatus</p>
                <a href="/openapparatus" class="green  pull-right">View</a>
              </figcaption>
            </a>
          </figure>
        </li><!-- /work item 1 -->
        <!-- work item 2 -->
        <li class="col-sm-6  col-md-4  col-lg-4">
          <figure class="box  box--sm  text-center">
            <a href="txtwire" >
              <img src="img/portfolio-2.jpg" class="img-responsive" alt="portfolio image 2" />
              <figcaption>
                <p>Txtwire</p>
                <a href="/txtwire" class="green  pull-right">View</a>
              </figcaption>
            </a>
          </figure>
        </li><!-- /work item 2 -->
        <!-- work item 3 -->
        <li class="col-sm-6  col-md-4  col-lg-4">
          <figure class="box  box--sm  text-center">
            <a href="rightintel" >
              <img src="img/portfolio-3.jpg" class="img-responsive" alt="portfolio image 3" />
              <figcaption>
                <p>Right Intel</p>
                <a href="rightintel" class="green  pull-right">View</a>
              </figcaption>
            </a>
          </figure>
        </li><!-- /work item 3 -->
        <!-- work item 5 -->
        <li class="col-sm-6  col-md-4  col-lg-4">
          <figure class="box  box--sm  text-center">
            <a href="other" >
              <img src="img/portfolio-5.jpg" class="img-responsive" alt="portfolio image 3" />
              <figcaption>
                <p>Honerable Mentions</p>
                <a href="other" class="green  pull-right">View</a>
              </figcaption>
            </a>
          </figure>
        </li><!-- /work item 5 -->
      </ul>
    </div>
  </div>
</div><!-- /portfolio list -->

<!-- twitter -->
<section class="tweet" id='contact'>
  <div class="container">
    <h3 class="tweet--tweet">Connect With Me</h3>

    <a href='https://www.linkedin.com/in/johndstorey'><span class="icon-linked-in"></span></a>
    <a href="mailto:john@johndangerstorey.com"><span class="icon-mail"></span></a>
    <a href="https://www.facebook.com/johndangerstorey"><span class="icon-facebook"></span></a>
    <a href="https://twitter.com/johnDANGRstorey"><span class="icon-twitter"></span></a>
    <a href="https://instagram.com/johndangerstorey"><span class="icon-instagram"></span></a>

    <p class="tweet--secondary">I follow back <span class="icon-emo-wink"></span></p>
  </div>
</section><!-- /twitter -->
