<!DOCTYPE html>
<html>
<head>
  <title>ux | front-end</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="author" content="John D. Storey">
  <meta name="description" content="Portfolio of John D.">
  <meta name="keywords" content="web design, creative, mobile, app, angular, angularjs, javascript, jquery, ux, user experience">
  <meta name="publisher" content="http://johndangerstorey.com/">
  <meta name="rating" content="General">
  <meta name="revisit-after" content="30 days">
  <meta name="robots" content="INDEX,FOLLOW">
  <link href="css/main.css" rel="stylesheet" media="screen">
</head>
<body>
  {{> header }}
  {{  body }}
  {{> footer }}
  {{> scripts }}
</body>
</html>
